<% object = @experiment %>
<%= semantic_form_for [:admin,object], html: {multipart: true} do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <div class="js-cocoon">

      <%= render layout: 'shared/form/translated_inputs',
                 locals: { object: object } do |enabled_locale, enabled_locale_name| %>
        <%= f.input "title_#{enabled_locale}",
                    label: t('shared.labels.translated_field',
                     field: t('activerecord.attributes.experiment.title'),
                     language: enabled_locale_name) %>
        <%= f.input "intro_#{enabled_locale}",
                    as: :text,
                    label: t('shared.labels.translated_field',
                     field: t('activerecord.attributes.experiment.intro'),
                     language: enabled_locale_name),
                     input_html: {rows: 5} %>

        <hr />

        <h3><%= t('activerecord.models.ingredient', count: 999) %></h3>

        <table class="table table-striped table-hover table-nonfluid table-ingredients" data-type='ingredients'>
          <thead>
            <tr>
              <th></th>
              <th>
                <%= t('shared.labels.translated_field',
                         field: t('activerecord.attributes.ingredient.content'),
                         language: enabled_locale_name)
                %><abbr title="required">*</abbr>
              </th>
              <th>
                <%=t 'shared.common.actions' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% object.ingredients.sorted.each do |ing| %>
              <%= f.semantic_fields_for :ingredients, ing do |ingredient| %>
                <%= render partial: 'ingredient_fields', locals: {f: ingredient, object: ing, enabled_locale: enabled_locale} %>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <%= link_to_add_association t('shared.actions.add'), f, :ingredients,
                      :'data-association-insertion-node' => "#translation-#{enabled_locale} table.table-ingredients tbody",
                      :'data-association-insertion-method' => 'append',
                      class: 'btn btn-primary',
                      render_options: {locals: {enabled_locale: enabled_locale}} %>
              </td>
            </tr>
          </tfoot>
        </table>


        <hr />

        <h3><%= t('activerecord.models.direction', count: 999) %></h3>

        <table class="table table-striped table-hover table-nonfluid table-directions" data-type='directions'>
          <thead>
            <tr>
              <th>
              </th>
              <th>
                <%= t('shared.labels.translated_field',
                         field: t('activerecord.attributes.direction.content'),
                         language: enabled_locale_name)
                %><abbr title="required">*</abbr>
              </th>
              <th>
                <%=t 'shared.common.actions' %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% object.directions.sorted.each_with_index do |dir, dir_index| %>
              <%= f.semantic_fields_for :directions, dir do |direction| %>
                <%= render partial: 'direction_fields', locals: {f: direction, object: dir, dir_index: dir_index, enabled_locale: enabled_locale} %>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <%= link_to_add_association t('shared.actions.add'), f, :directions,
                      :'data-association-insertion-node' => "#translation-#{enabled_locale} table.table-directions tbody",
                      :'data-association-insertion-method' => 'append',
                      class: 'btn btn-primary',
                      render_options: {locals: {enabled_locale: enabled_locale}} %>
              </td>
            </tr>
          </tfoot>
        </table>

        <% if enabled_locale == I18n.default_locale.to_s %>
          <hr />

          <h3><%= t('activerecord.models.direction_image', count: 999) %></h3>

          <table class="table table-striped table-hover table-nonfluid table-images" data-type='images'>
            <thead>
              <tr>
                <th style="width: 40%;">
                  <%= t('shared.labels.translated_field',
                           field: t('activerecord.attributes.direction.content'),
                           language: enabled_locale_name)
                  %><abbr title="required">*</abbr>
                </th>
                <th>
                  <%= t('shared.labels.translated_field',
                           field: t('activerecord.attributes.direction.image'),
                           language: enabled_locale_name)
                  %><abbr title="required">*</abbr>
                </th>
              </tr>
            </thead>
            <tbody>
              <% object.directions.sorted.each_with_index do |dir, dir_index| %>
                <%= f.semantic_fields_for :directions, dir do |f_direction| %>
                  <tr>
                    <td>
                      <%= dir.content %>
                    </td>
                    <td>
                      <table class="table table-striped table-hover table-nonfluid table-direction-images" data-type='direction-images'>
                        <thead>
                          <tr>
                            <th>
                              <%=t 'shared.common.actions' %>
                            </th>
                            <th>
                              <%= t('shared.labels.translated_field',
                                       field: t('activerecord.attributes.direction.image'),
                                       language: enabled_locale_name)
                              %><abbr title="required">*</abbr>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% dir.images.sorted.each_with_index do |img, img_index| %>
                            <%= f_direction.semantic_fields_for :images, img do |image| %>
                              <%= render partial: 'image_fields', locals: {f: image, object: img, img_index: img_index, dir_index: dir_index, enabled_locale: enabled_locale} %>
                            <% end %>
                          <% end %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2">
                              <%= link_to_add_association t('shared.actions.add'), f_direction, :images,
                                    :'data-association-insertion-node' => "#translation-#{enabled_locale} table.table-direction-images:eq(#{dir_index}) tbody",
                                    :'data-association-insertion-method' => 'append',
                                    class: 'btn btn-primary',
                                    render_options: {locals: {enabled_locale: enabled_locale, dir_index: dir_index}} %>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <hr />

        <%= f.input "warning_#{enabled_locale}",
                    as: :text,
                    label: t('shared.labels.translated_field',
                     field: t('activerecord.attributes.experiment.warning'),
                     language: enabled_locale_name),
                    input_html: { class: 'js-become-rich-text-editor' } %>
        <%= f.input "explanation_#{enabled_locale}",
                    as: :text,
                    label: t('shared.labels.translated_field',
                     field: t('activerecord.attributes.experiment.explanation'),
                     language: enabled_locale_name),
                    input_html: { class: 'js-become-rich-text-editor' } %>
      <% end %>

    </div>


    <hr />

    <div class="row">
      <div class="col-sm-4">
        <%= f.input :category_ids, as: :check_boxes, collection: @categories.map{|x| [x.title, x.id]}%>
      </div>
      <div class="col-sm-4">
        <%= f.input :needs_adult_supervision, as: :radio %>
      </div>
      <div class="col-sm-4">
        <%= f.input :is_active, as: :radio %>
      </div>
    </div>
  <% end %>

  <hr />

  <h3><%= t('activerecord.attributes.experiment.thumbnails') %></h3>

  <div class="file input optional form-group" id="experiment_thumbnail1_input">
    <span class="form-label">
      <label for="experiment_thumbnail1" class=" control-label"><%= t('activerecord.attributes.experiment.thumbnail1') %></label>
    </span>
    <% if object.thumbnail1.exists? %>
      <%= image_tag(object.thumbnail1.url('small')) %>
    <% end %>
    <span class="form-wrapper">
      <input accept=".jpg,.jpeg,.png,.gif" id="experiment_thumbnail1" name="experiment[thumbnail1]" type="file">
    </span>
  </div>

  <div class="file input optional form-group" id="experiment_thumbnail2_input">
    <span class="form-label">
      <label for="experiment_thumbnail2" class=" control-label"><%= t('activerecord.attributes.experiment.thumbnail2') %></label>
    </span>
    <% if object.thumbnail2.exists? %>
      <%= image_tag(object.thumbnail2.url('small')) %>
    <% end %>
    <span class="form-wrapper">
      <input accept=".jpg,.jpeg,.png,.gif" id="experiment_thumbnail2" name="experiment[thumbnail2]" type="file">
    </span>
  </div>

  <div class="file input optional form-group" id="experiment_ingredient_image_input">
    <span class="form-label">
      <label for="experiment_ingredient_image" class=" control-label"><%= t('activerecord.attributes.experiment.ingredient_image') %></label>
    </span>
    <% if object.ingredient_image.exists? %>
      <%= image_tag(object.ingredient_image.url('small')) %>
    <% end %>
    <span class="form-wrapper">
      <input accept=".jpg,.jpeg,.png,.gif" id="experiment_ingredient_image" name="experiment[ingredient_image]" type="file">
    </span>
  </div>





  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
