<%
  category_slug = params[:category]
  if category_slug.nil?
    if @experiment.categories.length > 0
      category_slug = @experiment.categories.first.slug
    else
      slug = Category.pluck(:slug).first
      category_slug = slug if slug
    end
  end
%>

<div class='exp-header-background category-background-color <%=category_slug%>'>
  <% img = image_path("categories/backgrounds/#{category_slug}.svg") %>
  <img class="up-left"  src=<%= img %>>
  <img class="up-right" src= <%= img %>>
</div>


<div class="experiment_first_element primary-header ">

  <div id='experiment_header_elements_wrap'>
    <h1>
    <%=@experiment.title%>
    </h1>
    <% if @experiment.category_ids.present? %>
      <div class='experiment-selected-category'>
      <span class='experiment-selected-category-label'><%= t('.category_label') %>:</span>
        <% @experiment.categories.each do |cat| %>
          <%= link_to cat.title, experiments_path(category: cat.slug) %>
        <% end %>
      </div>
    <% end %>

    <div class='arrow category-background-color <%=category_slug%>'>
      <%= inline_svg('arrow_bottom_white.svg', class: 'arrow-image') %>
    </div>

      <% 
        img = @experiment.gif.exists? ? @experiment.gif.url : image_path("categories/placeholders/#{category_slug}.png") 
        style=''
        iframe = ''
        if !@experiment.youtube_video_id.present?
          style="background-image: url('#{img}')"
        end
      %>
      
      <div id='exp-video' class='exp-video' style="<%= style %>">
        <% if @experiment.youtube_video_id.present? %>
          <div id='player' data-video-id=<%= @experiment.youtube_video_id %>>
          </div>
        <% end %>
      </div>

  </div> 

</div>

<div class = "inner-container-wrap">
  <% img = image_path("categories/backgrounds/#{category_slug}.svg") %>
  <div class='exp-background' style='background-image: url(<%= img %>)'></div>

  <div class="inner-container">
      <% if @experiment.needs_adult_supervision %>
        <div class="exp-adult-supervision">
          <p><%= t('.adult_supervision') %></p>
        </div>
      <% end %>

      <div class="exp-intro">
        <%= @experiment.intro %>
      </div>

      <div class="exp-ingredients">
        <h3 class="category-font-color <%=category_slug%>"><%= t('activerecord.models.ingredient', count: 999) %></h3>
        <div class='line-circle exp-lines'>
          <div class="circle  category-background-color <%=category_slug%>"></div>
          <div class="line  category-background-color <%=category_slug%>"></div>
        </div>
        <% img = @experiment.ingredient_image.exists? ? @experiment.ingredient_image.url('big') : image_path("categories/placeholders/#{category_slug}.png") %>
        <div class="exp-igrendients-image" style='background-image: url(<%= img %>)'>

        </div>
        <ul>
          <h3 class="category-font-color <%=category_slug%>"><%= t('activerecord.models.ingredient', count: 999) %></h3>
          <% @experiment.ingredients.sorted.each do |ing| %>
            <li><%= auto_link(ing.content, :urls, :target => "_blank") %></li>
          <% end %>
        </ul>


      </div>

      <div class="exp-directions">
        <h3 class="category-font-color <%=category_slug%>"><%= t('activerecord.models.direction', count: 999) %></h3>
        <div class="line  category-background-color <%=category_slug%>"></div>
        <div class="exp-directions-buttons" data-current-index="0">
          <span class="direction-previous active" data-type="previous"><%= inline_svg('arrow.svg', class: "no-hover category-fill-color #{category_slug}")%><%= inline_svg('arrow_hover_active.svg', class: "hover category-fill-color #{category_slug}")%></span>
          <span class="direction-next active" data-type="next"><%= inline_svg('arrow.svg', class: "no-hover category-fill-color #{category_slug}")%><%= inline_svg('arrow_hover_active.svg', class: "hover category-fill-color #{category_slug}")%></span>
        </div>
        <ul>
        <% @experiment.directions.sorted.each_with_index do |dir, dir_index| %>
          <li data-index="<%= dir_index %>" class="exp-direction-item <%= dir_index == 0 ? 'active' : '' %>">
           <p class="exp-direction-content">
            <%= auto_link(simple_format_no_tags(dir.content), :urls, :target => "_blank") %>
            </p>
            <div class="exp-direction-index category-background-color <%= category_slug %>">
                <%= dir_index +=1 %>
            </div>
            <div class="exp-direction-images-wrap">
                <% img = dir.image.exists? ? dir.image.url('big') : 
                image_path("categories/placeholders/#{category_slug}.png")  %>
                <div class="exp-direction-images" style='background-image: url(<%= img %>)'>

                </div>
            </div>


          </li>
        <% end %>
        </ul>
      </div>

      <% if @experiment.warning.present? %>
        <div class="exp-warning">
          <h4 class="category-font-color <%=category_slug%>"><%= t('activerecord.attributes.experiment.warning') %></h4>
          <div>
            <%= simple_format_no_tags(@experiment.warning) %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<div class="experiment-nav previous category-font-color <%=category_slug%> category-fill-color <%=category_slug%>">
  <% if @previous_exp_id.present? %>
    <%= link_to t('.previous_exp'), experiment_path(@previous_exp_id,category: category_slug, q: params[:q]) %>
    <%= link_to inline_svg('arrow_bottom_white.svg', class: 'arrow-image category-color arrow-left') , experiment_path(@previous_exp_id,category: category_slug, q: params[:q]) %>
  <% end %>

</div>

<div class="experiment-nav next category-font-color <%=category_slug%> category-fill-color <%=category_slug%>">
  <% if @next_exp_id.present? %>
    <%= link_to t('.next_exp'), experiment_path(@next_exp_id,category: category_slug, q: params[:q]) %>
    <%=link_to inline_svg('arrow_bottom_white.svg', class: 'arrow-image category-color arrow-right'),  
     experiment_path(@next_exp_id,category: category_slug, q: params[:q]) %>
  <% end %>

</div>

<div class="exp-explanation">
  <% img = image_path("categories/backgrounds/#{category_slug}.svg") %>
  <div class='exp-background' style='background-image: url(<%= img %>)'></div>

  <div>
    <h3 class="category-font-color <%=category_slug%> "><%= t('activerecord.attributes.experiment.explanation') %></h3>
    <div class="line  category-background-color <%=category_slug%>"></div>
    <p>
      <%= simple_format_no_tags(@experiment.explanation) %>
    </p>
  </div>
</div>

<div class="fb-comments" data-href="<%= 'sad' %>" data-num-posts="5" data-width="100%" style='width: 100%;'></div>



<script>
   experiment_updates();
   append_video();
</script>