<div class="experiment_first_element category-background-color <%=params[:category]%>">
<h1>
<%=@experiment.title%>
</h1>


<% if @experiment.category_ids.present? %>
  <div class='experiment-selected-category'>
    <% @experiment.categories.each do |cat| %>
      <%= link_to cat.title, experiments_path(category: cat.slug) %>
    <% end %>
  </div>
<% end %>
</div>
<div class="exp-intro">
  <%= @experiment.intro %>
</div>

<div class="exp-ingredients">
  <h3 class="category-font-color <%=params[:category]%>"><%= t('activerecord.models.ingredient', count: 999) %></h3>
  <ul>
    <% @experiment.ingredients.sorted.each do |ing| %>
      <li><%= ing.content %></li>
    <% end %>
  </ul>

  <% if @experiment.needs_adult_supervision %>
    <div class="exp-adult-supervision">
      needs_adult_supervision
    </div>
  <% end %>
</div>

<div class="exp-directions">
  <h3><%= t('activerecord.models.direction', count: 999) %></h3>
  <ul>
  <% @experiment.directions.sorted.each do |dir| %>
    <li style="margin-top: 20px;">
      <% if dir.images.present? %>
        <ul>
          <% dir.images.each do |img| %>
            <% if img.image.exists? %>
              <li>
                <%= image_tag(img.image.url('big')) %>
              </li>
              <br />
            <% end %>
          <% end %>
        </ul>
     <% end %>
     <%= simple_format_no_tags(dir.content) %>
    </li>
  <% end %>
  </ul>
</div>

<% if @experiment.warning.present? %>
  <div class="exp-warning">
    <h3><%= t('activerecord.attributes.experiment.warning') %></h3>
    <div>
      <%= simple_format_no_tags(@experiment.warning) %>
    </div>
  </div>
<% end %>

<div class="exp-explanation">
  <h3><%= t('activerecord.attributes.experiment.explanation') %></h3>
  <div>
    <%= simple_format_no_tags(@experiment.explanation) %>
  </div>
</div>