<% object = @category %>
<%= semantic_form_for [:admin,object] do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.inputs do %>

    <%= render layout: 'shared/form/translated_inputs',
               locals: { object: object } do |enabled_locale, enabled_locale_name| %>
      <%= f.input "title_#{enabled_locale}",
                  label: t('shared.labels.translated_field',
                   field: t('activerecord.attributes.category.title'),
                   language: enabled_locale_name) %>
      <%= f.input "description_#{enabled_locale}",
                  as: :text,
                  label: t('shared.labels.translated_field',
                   field: t('activerecord.attributes.category.description'),
                   language: enabled_locale_name),
                  input_html: { class: 'js-become-rich-text-editor' } %>
    <% end %>

    <div class="file input optional form-group" id="category_logo_input">
      <% if object.present? && object.logo.exists? %>
        <%= image_tag(object.logo.url, width: '20%') %>
      <% end %>
      <span class="form-wrapper">
        <input accept=".svg" id="category_logo" name="category[logo]" type="file">
      </span>
    </div>
    <%= f.input :color_hex, as: :color, :input_html => { maxlength: 7 } %>
    <%= f.input :is_active, as: :radio %>

  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, button_html: { class: 'btn btn-success' } %>
  <% end %>
<% end %>
