    <% @experiments.each_with_index  do |experiment, index|
    class_name = index < 2 && (params[:page].nil? || params[:page].to_s == '1') ? 'big': "smaller" %>

      <li class='<%= class_name %> js-vis-stay-visible'>
        <%= link_to experiment_path(experiment,category: params[:category]) do %>
          <% if experiment.thumbnail1.exists? %>
              <%= image_tag(experiment.thumbnail1.url('big'), alt: experiment.title, class: "exp-thumbnail1") %>
              <div id = exp_second_image_helper>
              <%= image_tag(experiment.thumbnail2.url('big'), alt: experiment.title, class: "exp-thumbnail2") %>
              </div>
          <% end %>
          <div class="exp-text">
          <div class="exp-title category-background-color <%= params[:category] %>">
            <%= experiment.title %>
          </div>
          <div class="exp-description">
            <%= truncate(strip_tags_nbsp(experiment.intro), length: 100) %>
          </div>
          </div>
        <% end %>
      </li>
    <% end %>
