    <% @experiments.each_with_index  do |experiment, index|
    class_name = index < 2 && (params[:page].nil? || params[:page].to_s == '1') ? 'big': "smaller" %>

      <li class='<%= class_name %> js-vis-stay-visible'>
        <%= link_to experiment_path(experiment,category: params[:category], q: params[:q]) do %>
          <%
            img1 = experiment.thumbnail1.exists? ? experiment.thumbnail1.url('big') : image_path("categories/placeholders/#{params[:category]}.png")
            img2 = experiment.thumbnail1.exists? ? experiment.thumbnail2.url('big') : image_path("categories/placeholders/#{params[:category]}.png")
          %>
          <%= image_tag(img1, alt: experiment.title, class: "exp-thumbnail1") %>
          <div id = exp_second_image_helper>
            <%= image_tag(img2, alt: experiment.title, class: "exp-thumbnail2") %>
          </div>
          <div class="exp-text">
          <div class="exp-title category-background-color <%= params[:category] %>">
            <%= experiment.title %>
          </div>
          <div class="exp-description">
            <%= truncate(strip_tags_nbsp(experiment.intro), length: 100) %>
          </div>
          </div>
        <% end %>
      </li>
    <% end %>
