<% page_title t('.title')
   %>
<div class ="exp-categories">
<% if @categories.present? %>
  <ul class="lcategories_main">
    <li class="logo">
      <%= link_to(inline_svg('Logo_mecnieri.svg', class: 'logo_image'), root_path) %>
    </li>
    <% @categories.each do |category|
      if params[:category] == category.slug
        class_name = 'seled'
      else
        class_name = 'unseled'
      end
      %>
      <li class = "categories-list <%= class_name %>">
        <%= link_to params.merge(category: category.slug) do %>
          <div class="categoty_image">
            <%= inline_svg(category_icon_path(category.slug), width: '110px') %>
          </div>
          <div class="index_text">
            <br />
            <%= category.title %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="exp-list">
<% if @experiments.present? %>
  <ul>
    <% @experiments.each_with_index  do |experiment, index|
    class_name = index < 2 ? 'big': "smaller" %>

      <li class='<%= class_name %>'>
        <%= link_to experiment_path(experiment) do %>
          <% if experiment.thumbnail1.exists? %>
              <%= image_tag(experiment.thumbnail1.url('big'), alt: experiment.title, class: "exp-thumbnail1") %>
              <%= image_tag(experiment.thumbnail2.url('big'), alt: experiment.title, class: "exp-thumbnail2") %>
          <% end %>
          <div class="exp-text">
          <div class="exp-title category-background-color <%= params[:category] %>">
            <%= experiment.title %>
          </div>
          <div class="exp-description">
            <%= truncate(strip_tags_nbsp(experiment.intro), length: 100) %>
          </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments_match') %>
  </p>
<% end %>
</div>