<% page_title t('.title') %>

<% if @categories.present? %>
  <ul class="list-inline">
    <% @categories.each do |category| %>
      <li>
        <%= link_to params.merge(category: category.slug),  class: params[:category] == category.slug ? 'btn btn-primary' : 'btn btn-default' do %>
          <%= category.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<hr />

<% if @experiments.present? %>
  <ul>
    <% @experiments.each do |experiment| %>
      <li>
        <%= link_to experiment_path(experiment) do %>
          <% if experiment.thumbnail1.exists? %>
            <div>
              <%= image_tag(experiment.thumbnail1.url('big'), alt: experiment.title) %>
              <%= image_tag(experiment.thumbnail2.url('big'), alt: experiment.title) %>
            </div>
          <% end %>
          <div>
            <%= experiment.title %>
          </div>
          <div>
            <%= truncate(strip_tags_nbsp(experiment.intro), length: 100) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments_match') %>
  </p>
<% end %>