<% page_title t('.title')
   %>
<div class ="exp-categories">
<% if @categories.present? %>
  <ul class="lcategories_main">
    <li class="logo">
      <%= link_to(inline_svg('Logo_mecnieri.svg', class: 'logo_image'), root_path) %>
    </li>
    <% @categories.each do |category|
      if params[:category] == category.slug
        class_name = 'seled category-font-color ' +  category.slug
      else
        class_name = 'unseled'
      end
      %>
      <li class = "categories-list <%= class_name %>">
        <%= link_to params.merge(category: category.slug) ,
                class: 'category_image_animation',
                id: "category_image_#{category.slug}",
                'data-container-id': "category_img_#{category.slug}",
                'data-svg': asset_url(category_icon_path(category.slug)),
                'data-json': asset_url(category_json_path(category.slug)) do %>

          <div class="category_image" id="<%= "category_img_#{category.slug}" %>">
          </div>
          <div class="index_text">
            <%= category.title %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="exp-list">
<% if @experiments.present? %>
  <ul>
    <%= render partial: 'experiment_list' %>
  </ul>
  <%= link_to_next_page @experiments, t('shared.actions.more'), :remote => true, :id=>'load_more_link', :params => params do%>
  <% end %>
<% else %>
  <p>
    <%= t('shared.common.no_experiments_match') %>
  </p>
<% end %>
</div>


<script>
  $('#load_more_link').append( "<span class='exp-left'> (<%= @total_experiments -  @num%>)</span>" );
</script>