<% page_title t('.title') %>
<div class ="exp-categories">
<% if @categories.present? %>
  <ul class="lcategories_main">
    <li class = "logo">
        <%= image_tag('Logo_mecnieri.svg', class: 'logo_image') %>
    </li>
    <% @categories.each do |category| %>
      <li class = "categories-list">
        <%= link_to params.merge(category: category.slug),  class: params[:category] == category.slug ? 'cat' : 'cat' do %>
        <div class="categoty_image">
          <%= image_tag(category.logo.url, width: '110px') %>
          </div>
          <div class="index_text">
          <br />
          <%= category.title %>
        <% end %>
          </div>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<hr />
<div class="exp-list">
<% if @experiments.present? %>
  <ul>
    <% @experiments.each do |experiment| %>
      <li>
        <%= link_to experiment_path(experiment) do %>
          <% if experiment.thumbnail1.exists? %>
            <div class="exp-thumbnail">
              <%= image_tag(experiment.thumbnail1.url('big'), alt: experiment.title) %>
              <%= image_tag(experiment.thumbnail2.url('big'), alt: experiment.title) %>
            </div>
          <% end %>
          <div class="exp-title">
            <%= experiment.title %>
          </div>
          <div class="exp-description">
            <%= truncate(strip_tags_nbsp(experiment.intro), length: 100) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments_match') %>
  </p>
<% end %>
</div>