<% page_title t('.title')
   %>
<div class ="exp-categories">
<% if @categories.present? %>
  <ul class="lcategories_main">
    <li class="logo">
      <%= link_to(inline_svg('Logo_mecnieri.svg', class: 'logo_image'), root_path) %>
    </li>
    <% @categories.each do |category|
      if params[:category] == category.slug
        class_name = 'seled'
      else
        class_name = 'unseled'
      end
      %>
      <li class = "categories-list <%= class_name %>">
        <%= link_to params.merge(category: category.slug) do %>
          <div class="categoty_image">
            <%= inline_svg(category_icon_path(category.slug), width: '110px') %>
          </div>
          <div class="index_text">
            <br />
            <%= category.title %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="exp-list">
<% if @experiments.present? %>
  <ul>
    <%= render partial: 'experiment_list' %>
  </ul>

  <%= link_to_next_page(@experiments, t('helpers.links.more'), :remote => true, :id=>'load_more_link', :params => params) %>

<% else %>
  <p>
    <%= t('shared.common.no_experiments_match') %>
  </p>
<% end %>
</div>