
<!-- uses index_categories.scss -->
<div class = "index_categories">


<% if @categories.present? %>
  <ul class="categories_main">
      <li class = "logo-wrapper">
        <div class='hover-layer'></div>
        <div class='hover-text'>
          <p>
            <%= t('.discover') %>
          </p>
        </div>
        <div class='logo'>
          <%= inline_svg('Logo_mecnieri.svg', class: 'logo_image')%>
          <p class="logo-back-text"> 
            <%= t('.discover') %>
          </p>
          <p class="logo-text">
            <%= t('.about').html_safe %>
          </p>
        </div>
      </li>


    <% @categories.each do |category| %>
      <li class="category-item" id="<%= "category_#{category.slug}" %>">
        <%= link_to experiments_path(category: category.slug),
                class: 'category_image_animation',
                id: "category_image_#{category.slug}",
                'data-container-id': "category_img_#{category.slug}",
                'data-svg': asset_url(category_icon_path(category.slug)),
                'data-json': asset_url(category_json_path(category.slug)) do %>

          <div id="<%= "category_img_#{category.slug}" %>"></div>

          <span class="index_text"><%= category.title %></span>
        <% end %>
     </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments') %>
  </p>
<% end %>
</div>
