
<!-- uses index_categories.scss -->
<div class = "index_categories">


<% if @categories.present? %>
  <ul class="categories_main">
      <li class = "logo">
        <%= inline_svg('Logo_mecnieri.svg', class: 'logo_image')%>
        <p class="hover-text">
        <%= t('.discover') %>
        </p>
        <p class="logo-text">
          <%= t('.about').html_safe %>
        </p>
      </li>

    <% @categories.each do |category| %>
      <li class="category-item" id="<%= "category_#{category.slug}" %>">
          <% if File.exists? "#{Rails.root}/app/assets/images/#{category_json_path(category.slug)}" %>
            <%= link_to experiments_path(category: category.slug),
                class: 'category_image_animation',
                id: "category_image_#{category.slug}",
                'data-container-id': "#category_#{category.slug}",
                'data-svg': asset_url(category_icon_path(category.slug)),
                'data-json': asset_url(category_json_path(category.slug)) do %>
            <% end %>
          <% else %>
            <%= link_to(inline_svg(category_icon_path(category.slug), class: 'categoty_image'), experiments_path(category: category.slug))%>
          <% end %>
          <%= link_to category.title, experiments_path(category: category.slug), class: 'index_text' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t('shared.common.no_experiments') %>
  </p>
<% end %>
</div>
