<div class="navbar navbar-default navbar-static-top category-background-color <%=params[:category]%>">
  <div class="container">

    <% if @experiment.present? %>
    <%= link_to(inline_svg('Logo_mecnieri.svg', class: 'logo_image'), root_path) %>
    <% end %>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form accept-charset="UTF-8" action="<%= experiments_path %>" class="navbar-form" id="search-form" method="get" role="search"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"></div>
            <div class="form-group">
              <input autocomplete="off" class="form-control search-input" id="q" name="q" placeholder="<%= t('shared.common.search') %>" tabindex="1" type="text" value="<%= params[:q] %>"
              onfocus="this.placeholder = ''" onblur="this.placeholder = '<%= t('shared.common.search') %>'" >
            </div>
          </form>
        </li>
        <li class="about-element"><%= link_to t('.about'), about_path  %></li>

        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= icon('user')%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.experiments'), admin_experiments_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.categories'), admin_categories_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin', 'content_manager']) %>
                <li><%= link_to t('shared.links.page_contents'), admin_page_contents_path %></li>
              <% end %>
              <% if current_user.is?(['super_admin', 'site_admin']) %>
                <li><%= link_to t('activerecord.models.user', count: 999), admin_users_path %></li>
              <% end %>
              <li class='divider'>

              </li>
              <li>
                <%= link_to t('.account.edit_profile'),
                            edit_user_registration_path %>
              </li>
              <li>
                <%= link_to t('.account.logout'),
                            destroy_user_session_path,
                            method: :delete %>
              </li>
            </ul>
          </li>
        <% end %>
<%
=begin %>
        <li class='language-switcher-container'>
          <ul class='language-switcher'>
            <% I18n.available_locales.each do |locale| %>
              <li class='language-switcher-item <%= "is-active" if I18n.locale == locale %>'>
                <%=
                if I18n.locale == locale
                  link_to t("shared.locale.short.#{locale}"),
                          url_for(locale: locale),
                          class: 'language-switcher-item-link is-active'
                else
                  link_to t("shared.locale.short.#{locale}"),
                          url_for(locale: locale),
                          class: 'language-switcher-item-link'
                end %>
              </li>
            <% end %>
          </ul>
        </li>
<%
=end %>
      </ul>
    </div>
  </div>
</div>
